<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	verbose="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
